In [9]:
import pandas as pd

def get_result(file_name):
    result = pd.read_csv(file_name, names=['id','w'])
    result['rank'] = result['w'].rank(
        method='min', ascending=False).apply(int)
    return result.sort_values(by=['rank'])

get_result('result_pagerank_weighted.txt')

                id             w    rank
0       0771044445  1.000000e-09       1
600704  0335192904  1.000000e-09       1
600703  0520078497  1.000000e-09       1
600701  B00005NUZE  1.000000e-09       1
254903  B00005N8AV  1.000000e-09       1
...            ...           ...     ...
675985  B0002CR02M -2.048963e+01  721336
675983  B0002CR02W -2.048963e+01  721336
682744  1400020336 -2.054541e+01  721340
704635  0789495007 -2.058775e+01  721341
717918  B00009ZY9T -2.063366e+01  721342

[721342 rows x 3 columns]

In [3]:
import pygrank as pg
from pygrank import Graph

graph = Graph()
graph.add_edge("A", "B")
graph.add_edge("B", "C")
graph.add_edge("C", "D")
graph.add_edge("D", "E")
graph.add_edge("A", "C")
graph.add_edge("C", "E")
graph.add_edge("B", "E")

ranks = {"A":3, "B":2, "C":4, "D":4, "E":4}
ground = {"A":2, "B":2, "C":8, "D":2, "E":4}

signal = pg.to_signal(graph, ranks)
true = pg.to_signal(graph, ground)

tpr = pg.TPR(known_scores=true).evaluate(signal) 
auc = pg.Density().evaluate(signal)
ndcg = pg.NDCG(k=1000, known_scores=ground).evaluate(signal)
print(f'TPR: {tpr}\nAUC: {auc} \nNDCG: {ndcg}')

TPR: 0.9166666666666666
AUC: 0.7192982456140351
NDCG: 0.9801000129176609